﻿@model IEnumerable<ReservationSystem.DATA.EF.OwnerAsset>

@{
    ViewBag.Title = "ALL TEAMS";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create","OwnerAssets")"><i class="fa fa-plus-square"></i></a>
    @*@Html.ActionLink("New Reservation", "Create")*@
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AssetName)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.OwnerID)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.AssetPhoto)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.SpecialNotes)
            </th>*@
            <th>
                @Html.DisplayNameFor(model => model.IsActive)
            </th>
            @*<th>
                @Html.DisplayNameFor(model => model.DateAdded)
            </th>*@
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AssetName)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.OwnerID)
                </td>*@
                <td>
                    @*@Html.DisplayFor(modelItem => item.AssetPhoto)*@
                    <img src="~/Content/Images/Uploads/t_@item.AssetPhoto"
                         alt="@item.AssetName" />
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.SpecialNotes)
                </td>*@
                <td>
                    @Html.DisplayFor(modelItem => item.IsActive)
                </td>
                @*<td>
                    @Html.DisplayFor(modelItem => item.DateAdded)
                </td>*@
                <td>
                    <a id="fontAwesomeButton" href="@Url.Action("Edit","OwnerAssets", new { id = item.OwnerAssetID })"><i class="far fa-edit"></i></a>
                    <a id="fontAwesomeButton" href="@Url.Action("Details","OwnerAssets",new { id = item.OwnerAssetID})"><i class="fas fa-info"></i></a>
                    <a id="fontAwesomeButton" href="@Url.Action("Delete","OwnerAssets",new { id = item.OwnerAssetID})"><i class="far fa-trash-alt"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.OwnerAssetID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.OwnerAssetID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.OwnerAssetID })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable({ responsive: true });
    });
    </script>

}


