﻿@model ReservationSystem.DATA.EF.OwnerAsset

@{
    ViewBag.Title = $"{Model.AssetName} DETAILS";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <div class="row">
        <div class="col-md-4">
            <img id="detailsPhoto" src="~/Content/Images/Uploads/@Model.AssetPhoto"
                 alt="@Model.AssetName" />

        </div>
        <div class="col-md-8">
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.AssetName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.AssetName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.OwnerID)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.OwnerID)
                </dd>

                @*<dt>
                @Html.DisplayNameFor(model => model.AssetPhoto)
            </dt>*@

                @*<dd>
                @Html.DisplayFor(model => model.AssetPhoto)
            </dd>*@

                <dt>
                    @Html.DisplayNameFor(model => model.SpecialNotes)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.SpecialNotes)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.IsActive)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.IsActive)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.DateAdded)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.DateAdded)
                </dd>

            </dl>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <a href="@Url.Action("Edit","OwnerAssets", new { id = Model.OwnerAssetID })"><input type="button" value="Edit" class="btn btn-warning" /></a>
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <a href="@Url.Action("AdminIndex","OwnerAssets")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>

                    }
                    else
                    {
                        <a href="@Url.Action("Index","OwnerAssets")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>
                    }

                </div>
            </div>

        </div>

    </div>
</div>
