﻿@model IEnumerable<ReservationSystem.DATA.EF.TeamMember>

@{
    ViewBag.Title = "Members";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TeamMemberID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.TeamMemberID }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.TeamMemberID })
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts{
    <script>
    $(document).ready( function () {
    $('#myTable').DataTable();
    });
</script>
    }
