﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <style></style>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @*@Html.ActionLink("PC Cafe", "Index", "Home", null, new { @class = "navbar-brand" })*@
                <a class="navbar-brand" href="@Url.Action("Index","Home")"><i class="fa fa-home"></i></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    @if (Request.IsAuthenticated && User.IsInRole("Admin") || Request.IsAuthenticated && User.IsInRole("Employee"))
                    {
                        <li>@Html.ActionLink("All Reservations", "Index", "Reservations")</li>
                        <li>@Html.ActionLink("All Teams", "AdminIndex", "OwnerAssets")</li>
                        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                    }
                    @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Admin<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Account Roles", "Index", "RolesAdmin")</li>
                                <li>@Html.ActionLink("All Accounts", "Index", "UsersAdmin")</li>
                            </ul>
                        </li>

                    }

                    @if (Request.IsAuthenticated && User.IsInRole("User"))
                    {
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Reservation<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                                <li>@Html.ActionLink("Your Reservations", "Index", "Reservations")</li>
                            </ul>
                        </li>
                        <li>@Html.ActionLink("Your Teams", "Index", "OwnerAssets")</li>
                    }
                    else if (!Request.IsAuthenticated)
                    {
                        <li>@Html.ActionLink("Locations", "Index", "Locations")</li>
                    }

                </ul>
                @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>



    <div class="container body-content">
        @RenderBody()
        <footer>
            <p>&copy; @DateTime.Now.Year - Team Practice Manager - Kris Vargas - FSDP <a href="@Url.Content("~/Content/ProjectDocumentation_kvargas.pdf")" target="_blank">Project Documentation</a></p>
        </footer>

    </div>
    <div id="preloader">
        <div class="preloader">
            <span></span>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @*<script src="https://code.jquery.com/jquery-1.12.4.js"></script>*@
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
    <script src="~/Scripts/Preloader.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
