﻿@model ReservationSystem.DATA.EF.Location

@{
    ViewBag.Title = $"{Model.LocationName} DETAILS";
}

<h2>@ViewBag.Title</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <img id="detailsPhoto" src="~/Content/Images/Uploads/@Model.LocationPhoto"
             alt="@Model.LocationName" />
    </div>
    <div class="col-md-8">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.LocationName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LocationName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Address)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.City)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.City)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.State)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.State)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ZipCode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ZipCode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ReservationLimit)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ReservationLimit)
            </dd>

        </dl>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                {
                    <a href="@Url.Action("Edit","Locations", new { id = Model.LocationID})"><input type="button" value="Edit" class="btn btn-warning" /></a>

                }
                <a href="@Url.Action("Index","Locations")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>
            </div>
        </div>

    </div>
</div>

