﻿@model IEnumerable<ReservationSystem.DATA.EF.Location>

@{
    ViewBag.Title = "LOCATIONS";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a href="@Url.Action("Create","Locations")"><i class="fa fa-plus-square"></i></a>
        @*@Html.ActionLink("New Reservation", "Create")*@
    </p>

}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LocationPhoto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReservationLimit)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.LocationName)
                </td>
                <td>
                    <img src="~/Content/Images/Uploads/t_@item.LocationPhoto"
                         alt="@item.LocationPhoto" />
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.City)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.State)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ZipCode)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationLimit)
                </td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a id="fontAwesomeButton" href="@Url.Action("Edit","Locations", new { id = item.LocationID })"><i class="far fa-edit"></i></a>
                        <a id="fontAwesomeButton" href="@Url.Action("Details","Locations",new { id = item.LocationID})"><i class="fas fa-info"></i></a>
                        <a id="fontAwesomeButton" href="@Url.Action("Delete","Locations",new { id = item.LocationID})"><i class="far fa-trash-alt"></i></a>
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.LocationID }) |
                        @Html.ActionLink("Details", "Details", new { id = item.LocationID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.LocationID })*@
                    </td>

                }
                else
                {
                    <td>
                        <a id="fontAwesomeButton" href="@Url.Action("Details","Locations",new { id = item.LocationID})"><i class="fas fa-info"></i></a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.LocationID })*@
                    </td>
                }
            </tr>
        }
    </tbody>
</table>

@section scripts{
    <script>
        $(document).ready(function () {
            $('#myTable').DataTable({ responsive: true });
        });
    </script>

}


