﻿body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Oswald', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    z-index: -100;
}

#layoutHeader {
    background-color: rgba(100,100,100,.3);
    text-align: center;
    font-weight: bold;
    color: white;
    z-index: -99;
}

#layoutPageHeader {
    border-bottom: none;
}

#layoutPageHeaderText {
    color: white;
    text-shadow: 0 0 3px #000;
    opacity: 1 !important;
}

#contentWrapper {
    margin-top: 3%;
    /*background: rgba(255,255,255,.5);*/
    background: rgba(102,51,153,.5);
    padding-bottom: 1%;
}

    #contentWrapper > div > h2, #contentWrapper > div > div:nth-child(3) > h2, #contentWrapper > div > div:nth-child(4) > h2 {
        text-shadow: 0px 0 3px #000;
        color: yellow;
        text-align: center;
        cursor: pointer !important;
        font-family: 'Oswald', sans-serif;
    }

    #contentWrapper > div > p {
        text-shadow: 0px 0 3px #000;
        color: white;
        text-align: center;
        font-size: 18px;
        margin-bottom: 2%;
    }

#featuredLocationPhoto {
    max-width: 200px;
    min-height: 150px;
    margin-bottom: 10%;
    margin-top: 5%;
}

    #featuredLocationPhoto:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
        transition: all 0.5s ease;
    }

#content, #contact {
    visibility: hidden;
}

#contact {
    text-align: center;
    color: white;
}

footer {
    margin-top: 2%;
    background: rgba(102,51,153,.5);
    color: white;
}

.navbar-inverse {
    background-color: rebeccapurple;
}

    .navbar-inverse .navbar-nav > li > a, .navbar-inverse .navbar-brand {
        color: white;
    }

        .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-brand:hover {
            color: lightgrey;
        }

body > div.container.body-content > h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 2.5em;
    text-align: center;
    font-weight: bold;
    text-shadow: 0 0 1px, rebeccapurple;
}

body > div.container.body-content > p > a > i {
    font-size: 2em;
}

#myTable_wrapper {
    background: rgba(102,51,153,1);
    padding-top: 3px;
    padding-bottom: 1%;
    padding-left: 5px;
    padding-right: 5px;
    border-style: solid;
}

#myTable_length > label, #myTable > thead, #myTable_filter > label, #myTable_info, #myTable_previous {
    color: white;
}

body > div.navbar.navbar-inverse.navbar-fixed-top > div > div.navbar-collapse.collapse > ul > li.dropdown.open > a {
    background: rgba(102,51,153,1);
}

body > div.container.body-content > p > a > i, #fontAwesomeButton {
    color: rebeccapurple;
}

#fontAwesomeButton {
    margin: 1px;
}

#contentWrapper > div > h1 {
    text-shadow: 0px 0 3px #000;
    color: yellow;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1%;
}

body > div.container.body-content > form > div {
    padding-top: 2%;
}

#detailsPhoto {
    max-width: 100%;
    min-width: 100%;
    margin-bottom: 1%;
    max-height: 100%;
    min-height: 100%;
}
body > div.container.body-content > form > div.row > div{
    text-align: center;
    font-weight: bold;
    font-size: 1.5em;
}




















/*Preloader stuff*/
#preloader {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rebeccapurple;
    z-index: 9999;
}

    #preloader .preloader {
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    }

        #preloader .preloader span {
            margin: 5px;
            display: inline-block;
            height: 175px;
            width: 175px;
            background-image: url('Background/zenyattaPreloader.gif');
            background-position: center;
            background-size: cover;
            border-radius: 50%;
            border: 2px solid #434343;
            -webkit-transform: translateY(-40px);
            -ms-transform: translateY(-40px);
            transform: translateY(-40px);
            opacity: 0;
            -webkit-animation: preloder 1.6s infinite cubic-bezier(.45,.05,.55,.95);
            animation: preloder 1.6s infinite cubic-bezier(.45,.05,.55,.95);
        }

            #preloader .preloader span:nth-child(1) {
                -webkit-animation-delay: 0s;
                animation-delay: 0s;
            }

            #preloader .preloader span:nth-child(2) {
                -webkit-animation-delay: 0.2s;
                animation-delay: 0.2s;
            }

            #preloader .preloader span:nth-child(3) {
                -webkit-animation-delay: 0.4s;
                animation-delay: 0.4s;
            }

@-webkit-keyframes preloder {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
    }

    40% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    60% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}

@keyframes preloder {
    0% {
        -webkit-transform: translateY(-40px);
        transform: translateY(-40px);
        opacity: 0;
    }

    40% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    60% {
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
        opacity: 1;
    }

    85% {
        opacity: 0;
    }

    100% {
        -webkit-transform: translateY(40px);
        transform: translateY(40px);
    }
}
/*End of Preloader stuff*/
