﻿@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = $"DELETE {Model.UserName}";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="@Url.Action("Index","UsersAdmin")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>

        </div>
    }
</div>
