﻿@model IdentitySample.Models.ApplicationUser

@{
    ViewBag.Title = $"{Model.UserName}";
}

<h2>@ViewBag.Title</h2>

<hr />
<div class="row">
    <div class="col-md-6">

        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>
            <dt>
                @Html.DisplayNameFor(model => model.Id)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Id)
            </dd>


        </dl>
        <div class="form-group">
            <a href="@Url.Action("Edit","UsersAdmin", new { id = Model.Id })"><input type="button" value="Edit" class="btn btn-warning" /></a>
            <a href="@Url.Action("Index","UsersAdmin")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>

        </div>

    </div>
    <div class="col-md-6">
        <h4>ROLE LIST</h4>
        @if (ViewBag.RoleNames.Count == 0)
        {
            <p>NO ROLES FOUND FOR THIS USER</p>
        }

        <table class="table">

            @foreach (var item in ViewBag.RoleNames)
            {
                <tr>
                    <td>
                        @item
                    </td>
                </tr>
            }
        </table>

    </div>

</div>




