﻿@model Microsoft.AspNet.Identity.EntityFramework.IdentityRole

@{
    ViewBag.Title = $"{Model.Name.ToUpper()} LIST";
}

<h2>@ViewBag.Title</h2>

@if (ViewBag.UserCount == 0)
{
    <p>NO USERS FOUND IN THIS ROLE</p>
}

<table class="table">

    @foreach (var item in ViewBag.Users)
    {
        <tr>
            <td>
                @item.UserName
            </td>
        </tr>
    }
</table>
<div class="form-group">
        <a href="@Url.Action("Edit","RolesAdmin", new { id = Model.Id })"><input type="button" value="Edit" class="btn btn-warning" /></a>
        <a href="@Url.Action("Index","RolesAdmin")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>
</div>



