﻿@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>

@{
    ViewBag.Title = "MANAGE ROLES";
}

<h2>@ViewBag.Title</h2>

<p>
    <a href="@Url.Action("Create","RolesAdmin")"><i class="fa fa-plus-square"></i></a>
    @*@Html.ActionLink("New Reservation", "Create")*@
</p>
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <a id="fontAwesomeButton" href="@Url.Action("Edit","RolesAdmin", new { id = item.Id })"><i class="far fa-edit"></i></a>
                    <a id="fontAwesomeButton" href="@Url.Action("Details","RolesAdmin",new { id = item.Id})"><i class="fas fa-info"></i></a>
                    <a id="fontAwesomeButton" href="@Url.Action("Delete","RolesAdmin",new { id = item.Id})"><i class="far fa-trash-alt"></i></a>
                    @*@Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })*@
                </td>
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable({ responsive: true });
    });
</script>
    }
