﻿@model IEnumerable<ReservationSystem.DATA.EF.Location>

@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LocationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
        </tr>
    }

    </table>*@




@foreach (var item in Model)
{
    <div class="col-md-6">
        @*<h3 class="featuredLocationName">@Html.DisplayFor(modelItem => item.LocationName)</h3>*@
        <div class="col-md-12">
            <a href="@Url.Action("Details","Locations", new { id = item.LocationID})">
                <img id="featuredLocationPhoto" src="~/Content/Images/Uploads/@item.LocationPhoto"
                     alt="@item.LocationName" />
            </a>
        </div>
        @*<div class="col-md-12">
            <p>@Html.DisplayFor(modelItem => item.City), @Html.DisplayFor(modelItem => item.State) </p>
        </div>*@
            @*<input type="button" class="btn btn-primary" value="Info"/>*@

    </div>
}
