﻿@{
    ViewBag.Title = "Home Page";

}
<video autoplay muted loop id="myVideo">
    <source src="~/Content/Background/2018 Mid-Season Invitational Group Stage Day 5 Tease.mp4" type="video/mp4">
</video>
<div class="row" id="contentWrapper">
    <div class="col-md-12">
        <h1>Welcome to Team Practice Manager</h1>
        <p>
            We're dedicated and passionate about serving the rapidly expanding eSports scene,
            and our service will allow you to reserve locations for your team practices!
            Our selected facilities offer great equipment to their customers, so no need to bring your own!
            Create an account, add a team to your account, and reserve a location for a practice session today!
            If you need to contact the site admins, just click where it says "Contact Us" and send us mail directly from the site!
        </p>
        <div class="col-md-6">
            <h2 onclick="ShowHide()">Featured Locations</h2>
        </div>
        <div class="col-md-6">
            <h2 onclick="ShowHideContact()">Contact Us</h2>
        </div>

        <div id="content" class="col-md-6">
            @Html.Action("FeaturedLocations", "Home")
        </div>
        <div id="contact" class="col-md-6">
            @Html.Action("Contact", "Home")
        </div>
    </div>
</div>

@section scripts{
    <script>
        function ShowHide() {
            var x = document.getElementById('content');
            if (x.style.visibility === 'visible') {
                x.style.visibility = 'hidden';
            }
            else {
                x.style.visibility = 'visible';
            }
        }
    </script>
    <script>
        function ShowHideContact() {
            var x = document.getElementById('contact');
            if (x.style.visibility === 'visible') {
                x.style.visibility = 'hidden';
            }
            else {
                x.style.visibility = 'visible';
            }
        }
    </script>



}
