﻿@model ReservationSystem.DATA.EF.Reservation

@{
    ViewBag.Title = "MAKE YOUR RESERVATION";
}

<h2>@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <hr />
    <div class="row">
        <div class="text-danger">
            @ViewBag.Message
        </div>
    </div>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @*@Html.LabelFor(model => model.LocationID, "LocationID", htmlAttributes: new { @class = "control-label col-md-2" })*@
            @Html.LabelFor(model => model.LocationID, htmlAttributes: new { @class = "control-label col-md-2" })


            <div class="col-md-10">
                @Html.DropDownList("LocationID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.LocationID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ReservationDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">

                @Html.EditorFor(model => model.ReservationDate, new { htmlAttributes = new { @class = "form-control", autocomplete = "off", @id = "datepicker" } })
                @Html.ValidationMessageFor(model => model.ReservationDate, "", new { @class = "text-danger" })
                @Html.ValidationMessageFor(model => model.ReservationDate)
            </div>
        </div>


        @*<div class="form-group">
                <div class="col-md-10">
                    <input type="text" id="datepicker" />
                </div>
            </div>*@


        <div class="form-group">
            @Html.LabelFor(model => model.OwnerAssetID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("OwnerAssetID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.OwnerAssetID, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Reserve" class="btn btn-success" />
                @*<input type="submit" value="Create" class="btn btn-default" />*@
                <a href="@Url.Action("Index","Home")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>

            </div>
        </div>
    </div>
}

<div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            $("#datepicker").datepicker({
                minDate: 0,
                maxDate: '+6m'
            });
        });
    </script>
}
