﻿@model ReservationSystem.DATA.EF.Reservation

@{
    ViewBag.Title = $"DELETE RESERVATION ON {Model.ReservationDate} FOR {Model.Location.LocationName}";
}

<h2>@ViewBag.Title</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerAsset.AssetName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />
            <a href="@Url.Action("Index","Reservations")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>
        </div>
    }
</div>
