﻿@model ReservationSystem.DATA.EF.Reservation

@{
    ViewBag.Title = $"{Model.ReservationDate} for {Model.Location.LocationName} Details";
}

<h2>@ViewBag.Title</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ReservationDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReservationDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Location.LocationName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Location.LocationName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OwnerAsset.AssetName)
        </dd>

    </dl>
    <div class="form-group">
        <a href="@Url.Action("Edit","Reservations", new { id = Model.ReservationID})"><input type="button" value="Edit" class="btn btn-warning" /></a>
        <a href="@Url.Action("Index","Reservations")" class="btn btn-primary"><i class="fas fa-undo-alt"></i></a>
    </div>


</div>
