﻿@model IEnumerable<ReservationSystem.DATA.EF.Reservation>

@{
    ViewBag.Title = "RESERVATIONS";
}

<h2>@ViewBag.Title</h2>
@if (User.IsInRole("Admin") || User.IsInRole("User"))
{
    <p>
        <a href="@Url.Action("Create","Reservations")"><i class="fa fa-plus-square"></i></a>
        @*@Html.ActionLink("New Reservation", "Create")*@
    </p>
}
<table class="table" id="myTable">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReservationDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Location.LocationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OwnerAsset.AssetName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReservationDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Location.LocationName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.OwnerAsset.AssetName)
                </td>
                @if (User.IsInRole("Admin") || (User.IsInRole("Employee")))
                {
                    <td>
                        <a id="fontAwesomeButton" href="@Url.Action("Edit","Reservations", new { id = item.ReservationID })"><i class="far fa-edit"></i></a>
                        <a id="fontAwesomeButton" href="@Url.Action("Details","Reservations",new { id = item.ReservationID})"><i class="fas fa-info"></i></a>
                        <a id="fontAwesomeButton" href="@Url.Action("Delete","Reservations",new { id = item.ReservationID})"><i class="far fa-trash-alt"></i></a>
                        @*@Html.ActionLink("Details", "Details", new { id = item.ReservationID }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.ReservationID })*@
                        @*@Html.ActionLink("Edit", "Edit", new { id = item.ReservationID }) |*@


                    </td>

                }
                else
                {
                    <td>
                        <a href="@Url.Action("Details","Reservations",new { id = item.ReservationID})"><i class="fas fa-info"></i></a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
@section scripts {
    <script>
    $(document).ready( function () {
        $('#myTable').DataTable({responsive:true});
    });
</script>

    }